{% extends 'TodoApp/base.html' %}
{% load crispy_forms_tags %}
 
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.title|as_crispy_field }}
        <div class="input-group-append pt-2">
            <button class="btn btn-primary w-25" type="submit">add <i class="fas fa-plus-circle"></i></button>
        </div>
    </form>
    <div class="list-group rounded-0 mt-5">
        {% for task in tasks %}
            <div class="list-group-item">
                {% if task.complete == True %}
                    <s>{{ task }}</s>
                {% else %}
                    <span>{{ task }}</span>
                {% endif %}
                <div class="mt-2">
                    <a class="btn btn-success" href="{% url 'update' task.id %}">update <i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" href="{% url 'delete' task.id %}">delete <i class="fas fa-trash"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}